body {
	margin: 0px;
}
.responsive-logo {
	background-image: url(../../assets/images/image9.jpg);
	background-size: contain;
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	margin-left: -15px;
}
.logo {
	background-image: url(../../assets/images/image7.jpeg);
	background-size: contain;
    width: 90px;
	height: 90px;

	background-repeat: no-repeat;
}
.nav-menu a{
	color: aliceblue;
	margin-top: -20px;

}
.header {
	display: flex;

}

.nav-menu a:hover {
	color: var(--bs-primary);
	border-bottom: 3px solid aliceblue;
}
@media screen  and (min-width: 992px){
	#nav-signup {
		border-radius: 6px;
		margin-left: 20px;
		width: 7em;
		text-align: center;
		background-color: var(--bs-primary);
		box-shadow: -6px 6px 15px var(--dark-bg);
	}
	.nav-menu #nav-signup:hover {
		color: black;
	}
	.header {
		margin: 0px 80px;
	}

}

#navbar-label {
	color: aliceblue;
}
.offcanvas-header .btn-close  {
	background-color: aliceblue;
}

.navbar-toggler-icon {
	width: 1em !important;
	height: 1.1em !important;
	position: relative;
	right: 7px;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
	border: 0px !important;
    color: rgba(255,255,255,.55) !important;
	width: 1.5em !important;
}

@media screen and (max-width: 991px) {
	.nav-menu a {
		margin-top: 8px;
		border-bottom: 1px solid rgba(255,255,255,.55);
		transition: none;
	}
	.nav-menu a:hover {
		color: var(--bs-primary);
	}

}

a:active {
	color: var(--bs-primary) !important;
}