.transaction-div {
	width: 70vw;
	background-color:  hsl(210, 36%, 96%) !important;
	padding: 40px 35px 45px 35px;

}

.desc {
	height: fit-content;
}
.user-role {
	width: 100%;
}
.partner{
	position: relative;
	margin-top: 20px;
}

datalist {
	position: absolute;
	margin-left: 0px;
}

.started {
	display: grid;
	position: relative;
	left: 32%;
	margin-top: 13%;
	width: 500px;
	height: 300px;
	border-radius: 4px;
	color: var(--dark-bg);
	background-color: hsl(210, 36%, 96%) !important;
}